/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

/* Body */

body {
    font-family: 'caveat';
    color: #ffffff;
    font-weight: 500;
}

#background-image {
    background-image: url(./assets/images/background.jpg);
    background-color: #F3CEF0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    display: block;
    margin-top: 30px;
}

.header {
    position: fixed;
    width: 100%;
    height: 65px;
    left: 0;
    right: 0;
    top: 0;
    background-color: #effded;
    z-index: 3;
}

form {
    display: block;
    margin-top: 30px;
}
/* Flex */

.flex {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.flex-main {
    flex: 1;
}

.flex-main-2 {
    flex: 0;
}

/* Footer */

footer {
    height: 100px;
}


.socials-1, .socials-2 {
    text-align: center;
}

.socials-1 > a, .socials-2 > a {
    display: inline;
}

.socials-1 i, .socials-2 i {
    font-size: 60px;
    margin: 1%;
    padding: 3%;
    color: #ffffff;
    width: 15%;
    height: 25px;
}

.socials-1 {
    margin-bottom: -10px;
    margin-top: -10px;
}

.socials-2 {
    margin-top: 10px;
}

.contact {
    font-size: 35px;
    margin: 1%;
    margin-top: 5%;
    padding: 1%;
    color: #ffffff;
    text-align: center;
    
}

#box {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.enquire {
    text-align: center;
    width: 150px;
    height: 55px;
    font-size: 40px;
    padding: 3%;
    margin-bottom: -5%;
    border: 3px solid #ACF39D;
    border-radius: 3px;
    background-color: #effded;
    text-transform: uppercase;
    font-weight: 900;
}

.enquire-button {
    text-align: center;
    width: 225px;
    height: 75px;
    font-size: 45px;
    padding: 3%;
    margin-bottom: -5%;
    border: 3px solid #ACF39D;
    border-radius: 3px;
    background-color: #effded;
    text-transform: uppercase;
    font-weight: 900;
}

#box a {
    text-decoration: none;
    color: #ACF39D
}

.margin-top {
    margin-top: 5%;
}

/* Header */

header > a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-family: 'caveat';
    letter-spacing: 3px;
    text-align: center;
    color: #ACF39D
}

#logo {
    font-size: 200%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#navigation {
    font-family: 'caveat';
    letter-spacing: 3px;
    text-align: center;
    margin-right: 35px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#navigation li {
    list-style-type: none;
    display: inline;
}

#navigation a {
    text-decoration: none;
    color: #051202;
}

#navigation a:hover {
    border-bottom: 2px solid #051202;
}

.active {
    border-bottom: 2px solid #051202;
}

/* Page content index */

#sub-head {
    text-align: center;
    margin-top: 35px;
    font-size: 175%;
    color: #ffffff;
}

.text  {
    text-align: center;
    margin-top: 0%;
    font-size: 115%;
    color: #ffffff;
    font-weight: 500;
}

.list  {
    text-align: center;
    margin-top: 0%;
    font-size: 90%;
    color: #ffffff;
    font-weight: 500;
}

#image-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    height: 500px;
    width: 100%;
    flex: 200px;
}

#price {
    text-align: center;
    margin-top: 0%;
    font-size: 300%;
    color: #ffffff;
    font-weight: 500;
}

p {
    margin: 0;
    padding: 0;
}
