/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

/* Body */

body {
    font-family: 'caveat';
    color: #051202;
    font-weight: 500;
    background-image: url(/assets/images/background.jpg);
    background-color: #051202;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    position: fixed;
    width: 100%;
}
/* Flex */

.flex {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.flex-main {
    flex: 1;
}

/* Footer */

footer {
    height: 100px;
}


.socials-1, .socials-2 {
    text-align: center;
    margin-bottom: -5%;
}

.socials-1 > a, .socials-2 > a {
    display: inline;
}

.socials-1 i, .socials-2 i {
    font-size: 25px;
    margin: 1%;
    padding: 3%;
    color: #A4289A;
    width: 2%;
    height: 25px;
}

.contact h2 {
    font-size: 20px;
    margin: 1%;
    margin-top: 5%;
    padding: 1%;
    color: inherit;
    text-align: center;
    
}

#box {
    text-align: center;
    width: 100%;
}

.enquire {
    text-align: center;
    width: 120px;
    height: 55px;
    font-size: 40px;
    padding: 1%;
    color: #051202;
    border: 3px solid #ACF39D;
    border-radius: 3px;
    background-color: #effded;
}

#box a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header > a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-family: 'caveat';
    letter-spacing: 3px;
    text-align: center;
    color: #ACF39D
}

#logo {
    font-size: 180%;
    margin-bottom: 10px;
}

#navigation {
    font-family: 'caveat';
    letter-spacing: 3px;
    text-align: center;
    margin-right: 35px;
}

#navigation li {
    list-style-type: none;
    display: inline;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 2px solid #051202;
}

.active {
    border-bottom: 2px solid #051202;
}